<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_nearby-devices._tcp</string>
		<string>_nearby-devices._upd</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>To search for nearby devices for exchanging cards</string>
	<key>NSCameraUsageDescription</key>
	<string>To scan physical business cards</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
